*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
    background-color: rgb(255, 255, 255);
   
    height: 90px;

}




body{

    background-image: url("/src/imagen/fo.jpg");
}

header h1{

    text-align: center;
    float: left;
    margin-top: 25px;
    margin-left: 65px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:6vh;
    color: rgb(0, 0, 0);
}




nav {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}


.form-group{

    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}


.espacio{

    margin-top: 60px;  
}

.row{

    margin-left:400px;

}

.columna1{

    font-size: 4vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.contenedor47{

    margin-left:400px;
}
